* {
    font-family: 'Otomanopee One', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    padding: 0;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 16px;
    font-weight: 100;
    color: rgb(175, 175, 175);
    padding: 0;
}

/* this is navigation style   bonus - 1 */

.navigation {
    margin-bottom: 5%;
}

.navigation img {
    width: 80px;
}

.nan-image {
    width: 80%;
}

.nav-descriction ul li {
    list-style: none;
}

.nav-descriction ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: rgb(0, 234, 255);
}

.hero-btn {
    padding: 15px 40px;
    background-image: linear-gradient(rgb(0, 255, 21), rgb(255, 196, 0));
    border: none;
    box-shadow: 1px 1px 30px lightgray;
    border-radius: 10px;
}

.hero-btn a {
    text-decoration: none;
    color: #fff;
}

.orange {
    color: orange;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.flex-content {
    display: flex;
}

/* this is first banar style */

.first-banar {
    align-items: center;
    margin-bottom: 5%;
}

.first-banar img {
    width: 90%;
}

/* this is second banar style */

.second-banar {
    margin-bottom: 5%;
    align-items: center;
    background-image: url('images/bg.jpg');
    background-size: cover;
    width: 100%;
    margin-bottom: 10%;
}


/* this is recipies  style */

.recipies {
    margin-bottom: 5%;
}

.recipies-descriction {
    text-align: center;
}

.recipies h2 {
    color: rgb(90, 90, 90);
}

/* this is card style */

.card {
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 30px lightgray;
    margin-top: 5%;
}

.card img {
    width: 400px;
    border-radius: 20px;
}

.card-content {
    width: 80%;
    justify-content: space-between;
    margin-left: 10%;
}

/* this is online activities style */

.online {
    width: 80%;
    margin: auto;
    height: 200px;
    border-radius: 30px;
    box-shadow: 1px 1px 30px lightgray;
    margin-bottom: 5%;
    align-items: center;
    padding: 10px 80px;
    justify-content: space-between;
}

/* this is contract style   bonus - 2 */

.contract-text {
    text-align: center;
    margin-bottom: 10px;
}

.contract-text h3 {
    color: rgb(90, 90, 90);
}

.contract-aria {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.contract-aria input,
textarea {
    width: 100%;
    padding: 17px;
    border: 1px solid lightgray;
    margin: 5px;
    box-shadow: 1px 1px 30px rgb(246, 246, 246);
    border-radius: 5px;
    font-size: 16px;
}

/* this is map style   bonus - 2 */

.map {
    width: 80%;
    margin: auto;
}

.map iframe {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
}

/* this is footer style */

.footer {
    height: 250px;
    background-color: black;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px 30px;

}

small {
    color: rgba(189, 189, 189, 0.712);
    margin-bottom: 1px;
    font-size: 10px;
}